
.borderCheck {
    border: 1px solid red;
}

body {
    background-color: #21618C;
}

#title {
    font-size: 28pt;
    margin: 0px auto;
    padding: 0px;
    color: white;
}

#start {
    margin-left: 15px;
}

.arenaBox {
    margin: 15px; /* give all the bootstrap cards a margin */
}

#stats {
    margin-top: 20px;
    background-color: #7FB3D5;
}

#gameBoard {
    margin-top: 20px;
}

#gameBoard {
    height: auto;
    padding: 25px;
    background-color: lightgrey;
}

.arenaImage {
    float: left;
    width: 100px;
    height: 200px;
    border: 1px solid #202020;
}

#attack {
    margin: 25px 10px 0px 25px;
}

#attack:disabled {
    background-color: grey;
    border: 1px solid black;
}

#next {
    margin: 25px 10px 0px 0px;
}

.characters {
    background-color: #7FB3D5;
}

.gameCharacter {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #202020;
    background-color: lightgrey;
}

#gameMessage {
    font-size: 18pt;
}

footer {
    position: fixed;
    bottom: 0;
    /* left: 0px; */
    width: 100%;
    height: auto;
    background-color: #202020;
    color: white;
}

#footerText {
    line-height: 1.5em;
    text-align: center;
    margin: 10px auto;
}
